.empty-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.empty{
    width: 350px;
   
}
.empty-text{
    font-size: 18px;
    font-family:Helvetica Neue, Helvetica,Arial,sans-serif ;
   
}