.home{
    /* padding-top: 45px; */
    /* padding-bottom: 50px ; */
}
.spin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.deliver{
    /* background-color: rgb(246, 251, 252); */
    background-color: #1e6c77;
    color: #fff;
    line-height: 1.5;
    display: flex;
    align-items: center;
    padding: 5px 0 5px 0;
    width: 100%;
    margin: 8px 0 10px 0;
    box-shadow: 0 1px 1px 0px #6b6a6a;
    border-radius: 10px;
}
.text1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    margin-left: 5px;
}
.car{
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 1px 1px 1px 0px lightgray;
}
.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}
.offer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 11px;
    color: green;
}

.video {
    position:  absolute;
  }
  
  .video-text  {
      /* background: #000 none repeat scroll 0 0; */
      color: #fff;
      font-weight: bolder;
      mix-blend-mode: overlay;
      padding: 5px 5px;
  }

.video-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media screen and (min-width:1080px) {
    .video{
        width: 99%;
    }
}
@media screen and (min-width:480px) and (max-width:768px) {
    .video{
        width: 97.7%;
        height: auto;
    }
}
@media screen and (max-width:480px) {
    .video{
        width: 95.5%;
        height: auto;
    }
}

