.images{
    width: 100%;
    height: 200px;
}

@media screen and (min-width: 1080px){
    .images{
        height: 500px;
    }
    
}
@media screen and (min-width: 480px) and (max-width:1080px){
    .images{
        height: 300px;
    }
    
}
@media screen and (max-width: 480px){
    .images{
        height: 200px;
    }
    
}