.products{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.card{
    padding: 5px;
    margin: 5px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
}

.img{
    transition: transform .2s; 
}

.img:hover{
    transform: scale(1.5); 
}

.icon{
    margin-left: 10px;
}
.title{
    font-weight: bolder;
}

@media screen and (min-width:1080px) {
    .products{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    .img{
        height: 300px;
    }
   
}
@media screen and (min-width:480px) and (max-width:1080px) {
    .products{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .img{
        height: 250px;
    }
}
@media screen and (max-width:480px) {
    .products{
        display: grid;
        grid-template-columns: auto auto;
    }
    .img{
        height: 150px;
    }
    .card{
        padding: 0;
        margin: 5px;
        height: auto;
    }
    .desc{
       font-size: 10px;
    }
    .title{
        font-size: 12px;
    }
    .price{
        font-size: 12px;
    }
}
